<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
		http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd">
		
	<context:annotation-config />
	
	<context:component-scan base-package="com.mckesson" />
	
	<mvc:annotation-driven />
	
	<wss:binding url="/hello">
        <wss:service>
            <ws:service bean="#helloWs"/>
        </wss:service>
    </wss:binding>
	
	<import resource="datasource-context.xml" />
	
	<bean id="greetingDao" class=="com.mckesson.dao.HibernateGreeterDao" />
	
	<!-- Web service methods -->
	<bean id="helloWs" class="com.mckesson.ws.HelloWorldWS" />
	<bean id="HelloWorldBo" class="com.mckesson.bo.impl.HelloWorldBoImpl" />
	
</beans>